* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  background: #faf7f2;
  height: 100vh;
}

/* MAIN LAYOUT */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  max-width: 80%;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.right h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

/* LOGIN CARD */
.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  margin-top: 15px;
}

.card input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 14px;
}

.card button {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background: #f5e36b;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
