body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
}

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  padding: 40px;
}

.login-left h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.login-left p {
  font-size: 20px;
  margin-bottom: 30px;
}

.login-img {
  width: 350px;
  max-width: 100%;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  padding: 40px;
}

.login-right label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

.login-right input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  font-size: 16px;
}

.login-right button {
  margin-top: 30px;
  width: 100%;
  padding: 14px;
  font-size: 18px;
  background: #f5e77a;
  border: none;
  cursor: pointer;
}
